body{
    font-family: "Montserrat", sans-serif;
    margin:0;
    background-color: #000;
    color: #fff;
    overflow: hidden;
}
.main{
    display:flex;
    height:100vh;
    padding:0.5rem;
}
.sidebar{
    background-color:#000;
    width:320px;
    border-radius:1rem; /* 1 rem = 16px */
}
.main-content{
    background-color:#121212;
    flex:1;
    border-radius:1rem;
    overflow:auto;
}
.music-player{
    background-color:#000;
    width:100%;
    height:70px;
    position:fixed;
    bottom:0px;
}
.navbar{
    background-color:#121212;
    margin:10px;
    height:100px;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:0.5rem 0.75rem;
}   
.nav-option{
    line-height:2.5rem;
    margin:0.5rem ;
    opacity:0.75;
}
.nav-option i{
    font-size:1.25rem;
    padding:0.5rem 0.75rem;
}
.nav-option a{
    font-size:1rem;
    text-decoration:none;
    color:#fff;
    line-height:1rem;
    margin-left:1rem;
}
.nav-option:hover{
    opacity:1;
}
.library{
    height:100%;
    background-color:#121212;
    border-radius:1rem;
    margin-top:0.5rem;
    margin:10px;
    padding:0.5rem;
}
.options{
    display:flex;
    justify-content:space-between;  
    align-items:center;
}
.lib-option img{
    height:1.25rem;
    width:1.25rem;
}
.lib-option a{
    text-decoration: none;
    color:#fff;
}
.icons i{
    margin-right:1rem;
    opacity:0.75;
    font-size:1.25rem;
}
.icons i:hover{
    opacity:1;
}
.lib-box{
    background-color:#1f1f1f;
    margin:0.5rem 0;
    padding:1rem 1.25rem;
    border-radius:1rem;
}
.box-p1{
    margin-bottom:0.5rem;
}
.box-p{
    font-size:1rem;
    font-weight:700;
    margin:0;
}
.badge{
    padding:0.5rem 1rem;
    font-size:14px;
    font-weight:700;
    border-radius:25px;
    border: none;
    width: fit-content;
}